html, body, .swiper-container {
    height:100%;
    position:relative;
}
.swiper-parent {
	max-width: 414px;
	min-height: 504px;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	/*line-height: 1.5;*/
	/*background: rgba(254,184,41,1);*/
	background: wheat;
}
@media only screen and (min-device-width: 359px) and (max-device-width:374px){
	body {
		font-size: 17px;
	}
} 
@media only screen and (min-device-width: 375px){
	body {
		font-size: 19px;
	}
}
@media only screen and (min-device-width: 408px){
	body {
		font-size: 20px;
	}
}  
.pages{
	min-height:504px;
}
.swiper-slide {
	position: relative;
	z-index: 2;
}

.pullup{
	width: 100%;
	position: absolute;
	top:93%;
}
.pullup img{
	width: 8%;
}
.swiper-slide-active  .pullup {
	animation: anUp 1s linear infinite alternate none;
	-webkit-animation: anUp 1s linear infinite  alternate none ;
	-moz-animation: anUp 1s linear infinite  alternate none;
	-o-animation:anUp  1s linear infinite  alternate none;
}
@keyframes anUp  {from {top: 93%;} to {top: 91%;}}
@-webkit-keyframes anUp {from {top: 93%;} to { top: 91%;}}
@-moz-keyframes anUp {from {top: 93%;} to {top: 91%;}}
@-o-keyframes anUp {from {top: 93%;} to {top: 91%;}}

/*page1 started*/
.page1 {
	background: rgba(254,184,41,1);
	background-image: url(../images/page01/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;
}
/*lineWithCircle upper*/
@keyframes anCircleUp   { 0% {transform:translate(0%,0%);} 25% {transform:translate(-5%,5%);} 50% {transform:translate(-12%,2%);} 75% {transform:translate(-24%,48%);} 100% {transform:translate(-32%,64%);}}
@-webkit-keyframes anCircleUp   { 0% {-webkit-transform:translate(0%,0%);} 25% {-webkit-transform:translate(-10%,10%);} 50% {-webkit-transform:translate(-20%,20%);} 75% {-webkit-transform:translate(-30%,30%);} 100% {-webkit-transform:translate(-40%,40%);} }
@-moz-keyframes anCircleUp { 0% {-moz-transform:translate(0%,0%);} 25% {-moz-transform:translate(-6%,1%);} 50% {-moz-transform:translate(-16%,32%);} 75% {-moz-transform:translate(-24%,48%);} 100% {-moz-transform:translate(-32%,64%);}  }
@-o-keyframes anCircleUp    { 0% {-o-transform:translate(0%,0%);} 25% {-o-transform:translate(-6%,1%);} 50% {-o-transform:translate(-16%,32%);} 75% {-o-transform:translate(-24%,48%);} 100% {-o-transform:translate(-32%,64%);}  }
.line-circleUp {
	position: absolute;
	width: 45%;
	top: -30%;
	left: 30%;
}
.swiper-slide-active .line-circleUp
{
	animation:anCircleUp 3s linear 1s infinite alternate none;
	-webkit-animation:anCircleUp 3s linear 1s infinite alternate none;
	-moz-animation:anCircleUp 3s linear 1s infinite alternate none;
	-o-animation:anCircleUp 3s linear 1s infinite alternate none;
}
.line-circleUp img {
	width: 100%;
}
/*Thin liner upper*/
@keyframes anlineUp   { 0% {transform:translate(0%,0%);} 25% {transform:translate(-8%,16%);} 50% {transform:translate(-16%,32%);} 75% {transform:translate(-24%,48%);} 100% {transform:translate(-32%,64%);}}
@-webkit-keyframes anlineUp   { 0% {-webkit-transform:translate(0%,0%);} 25% {-webkit-transform:translate(-8%,16%);} 50% {-webkit-transform:translate(-16%,32%);} 75% {-webkit-transform:translate(-24%,48%);} 100% {-webkit-transform:translate(-32%,64%);} }
@-moz-keyframes anlineUp { 0% {-moz-transform:translate(0%,0%);} 25% {-moz-transform:translate(-8%,16%);} 50% {-moz-transform:translate(-16%,32%);} 75% {-moz-transform:translate(-24%,48%);} 100% {-moz-transform:translate(-32%,64%);}  }
@-o-keyframes anlineUp    { 0% {-o-transform:translate(0%,0%);} 25% {-o-transform:translate(-8%,16%);} 50% {-o-transform:translate(-16%,32%);} 75% {-o-transform:translate(-24%,48%);} 100% {-o-transform:translate(-32%,64%);}  }
.thin-line {
	position: absolute;
	width: 80%;
	top: -20%;
	left: 60%;

}
.swiper-slide-active .thin-line
{
	animation:anlineUp 2s linear 2s infinite alternate none ;
	-webkit-animation:anlineUp 2s linear 2s infinite alternate none ;
	-moz-animation:anlineUp 2s linear 2s infinite alternate none ;
	-o-animation:anlineUp 2s linear 2s infinite alternate none ;
}
.thin-line img {
	width: 50%;
}
/*Thin retangle larger*/
@keyframes anRecLarge  { 0% {transform:translate(0%,0%);} 25% {transform:translate(-10%,10%);} 50% {transform:translate(-20%,20%);} 75% {transform:translate(-40%,40%);} 100% {transform:translate(-50%,50%);}  }
@-webkit-keyframes anRecLarge   { 0% {-webkit-transform:translate(0%,0%);} 25% {-webkit-transform:translate(-10%,10%);} 50% {-webkit-transform:translate(-20%,20%);} 75% {-webkit-transform:translate(-40%,40%);} 100% {-webkit-transform:translate(-50%,50%);}  }
@-moz-keyframes anRecLarge  { 0% {-moz-transform:translate(0%,0%);} 25% {-moz-transform:translate(-10%,10%);} 50% {-moz-transform:translate(-20%,20%);} 75% {-moz-transform:translate(-40%,40%);} 100% {-moz-transform:translate(-50%,50%);}  }
@-o-keyframes anRecLarge  { 0% {-o-transform:translate(0%,0%);} 25% {-o-transform:translate(-10%,10%);} 50% {-o-transform:translate(-20%,20%);} 75% {-o-transform:translate(-40%,40%);} 100% {-o-transform:translate(-50%,50%);}  }
.rec-long {
	position: absolute;
	width: 80%;
	top: 20%;
	left: -20%;
}
.swiper-slide-active .rec-long
{
	animation:anRecLarge 3s linear 1s infinite alternate none ;
	-webkit-animation:anRecLarge 3s linear 1s infinite alternate none;
	-moz-animation:anRecLarge 3s linear 1s infinite alternate none;
	-o-animation:anRecLarge 3s linear 1s infinite alternate none;
}

.rec-long img {
	width: 100%;
}

/*Thin retangle small*/
@keyframes anRecSmall   { 0% {transform:translate(0%,0%);} 25% {transform:translate(-4%,10%);} 50% {transform:translate(-8%,20%);} 75% {transform:translate(-16%,40%);} 100% {transform:translate(-20%,50%);}}
@-webkit-keyframes anRecSmall   { 0% {-webkit-transform:translate(0%,0%);} 25% {-webkit-transform:translate(-4%,10%);} 50% {-webkit-transform:translate(-8%,20%);} 75% {-webkit-transform:translate(-16%,40%);} 100% {-webkit-transform:translate(-20%,50%);}}
@-moz-keyframes anRecSmall { 0% {-moz-transform:translate(0%,0%);} 25% {-moz-transform:translate(-4%,10%);} 50% {-moz-transform:translate(-8%,20%);} 75% {-moz-transform:translate(-16%,40%);} 100% {-moz-transform:translate(-20%,50%);}}
@-o-keyframes anRecSmall   { 0% {-o-transform:translate(0%,0%);} 25% {-o-transform:translate(-4%,10%);} 50% {-o-transform:translate(-8%,20%);} 75% {-o-transform:translate(-16%,40%);} 100% {-o-transform:translate(-20%,40%);}}
.rec-short {
	position: absolute;
	width: 60%;
	top: 60%;
	left: -24%;

}
.swiper-slide-active .rec-short
{
	animation:anRecSmall 1s linear 1s infinite alternate none ;
	-webkit-animation:anRecSmall 1s linear 1s infinite alternate none;
	-moz-animation:anRecSmall 1s linear 1s infinite alternate none;
	-o-animation:anRecSmall 1s linear 1s infinite alternate none;
}
.rec-short img {
	width: 50%;
}

/*lineWithCircle down*/
@keyframes anCircleDown   { 0% {transform:translate(0%,0%);} 25% {transform:translate(-8%,16%);} 50% {transform:translate(-16%,32%);} 75% {transform:translate(-24%,48%);} 100% {transform:translate(-32%,64%);}}
@-webkit-keyframes anCircleDown   { 0% {-webkit-transform:translate(0%,0%);} 25% {-webkit-transform:translate(-8%,16%);} 50% {-webkit-transform:translate(-16%,32%);} 75% {-webkit-transform:translate(-24%,48%);} 100% {-webkit-transform:translate(-32%,64%);} }
@-moz-keyframes anCircleDown { 0% {-moz-transform:translate(0%,0%);} 25% {-moz-transform:translate(-8%,16%);} 50% {-moz-transform:translate(-16%,32%);} 75% {-moz-transform:translate(-24%,48%);} 100% {-moz-transform:translate(-32%,64%);}  }
@-o-keyframes anCircleDown    { 0% {-o-transform:translate(0%,0%);} 25% {-o-transform:translate(-8%,16%);} 50% {-o-transform:translate(-16%,32%);} 75% {-o-transform:translate(-24%,48%);} 100% {-o-transform:translate(-32%,64%);}  }
.line-circleDown {
	position: absolute;
	width: 80%;
	top: 80%;
	left: -40%;
}
.swiper-slide-active .line-circleDown
{
	animation:anCircleDown 4s linear 1s infinite alternate none  ;
	-webkit-animation:anCircleDown 4s linear 1s infinite alternate none;
	-moz-animation:anCircleDown 4s linear 1s infinite alternate none;
	-o-animation:anCircleDown 4s linear 1s infinite alternate none;
}
.line-circleDown img {
	width: 50%;
}
/*block small*/
@keyframes anBlockSmall  { 0% {transform:rotateZ(0deg);} 100% {transform:rotateZ(-360deg);}}
@-webkit-keyframes anBlockSmall   { 0% {-webkit-transform:rotateZ(0deg);} 100% {-webkit-transform:rotateZ(-360deg);}}
@-moz-keyframes anBlockSmall { 0% {-moz-transform:rotateZ(0deg);} 100% {-moz-transform:rotateZ(-360deg);}}
@-o-keyframes anBlockSmall   { 0% {-o-transform:rotateZ(0deg);} 100% {-o-transform:rotateZ(-360deg);}}
.block-small {
	position: absolute;
	-webkit-transform-origin: 1% 0;
	width: 100%;
	top: 52%;
	left: 62%;

}
.swiper-slide-active .block-small
{
	animation:anBlockSmall 4s  linear 1s infinite ;
	-webkit-animation:anBlockSmall 4s linear 1s infinite;
	-moz-animation:anBlockSmall 4s linear 1s infinite;
	-o-animation:anBlockSmall 4s linear 1s infinite;
}
.block-small img {
	width: 5%;
}

/*block large*/
@keyframes anBlockLarge  { 0% {transform:rotateZ(0deg);} 100% {transform:rotateZ(360deg);}}
@-webkit-keyframes anBlockLarge   { 0% {-webkit-transform:rotateZ(0deg);} 100% {-webkit-transform:rotateZ(360deg);}}
@-moz-keyframes anBlockLarge { 0% {-moz-transform:rotateZ(0deg);} 100% {-moz-transform:rotateZ(360deg);}}
@-o-keyframes anBlockLarge   { 0% {-o-transform:rotateZ(0deg);} 100% {-o-transform:rotateZ(360deg);}}
.block-large {
	position: absolute;
	-webkit-transform-origin: 1% 0;
	width: 150%;
	top: 50%;
	left: 62%;
}
.swiper-slide-active .block-large
{
	animation:anBlockLarge 8s linear 2s infinite;
	-webkit-animation:anBlockLarge 8s linear 2s infinite;
	-moz-animation:anBlockLarge 8s linear 2s infinite;
	-o-animation:anBlockLarge 8s linear 2s infinite;
}
.block-large img {
	width: 5%;
}
/*Block recruit */
@keyframes anBlockRecruit   { 0% {transform:translateY(3%);} 100% {transform:translateY(0%);} }
@-webkit-keyframes anBlockRecruit    { 0% {-webkit-transform:translateY(3%);}  100% {-webkit-transform:translateY(0%);} }
@-moz-keyframes anBlockRecruit  { 0% {-moz-transform:translateY(3%);}  100% {-moz-transform:translateY(0%);} }
@-o-keyframes anBlockRecruit    { 0% {-o-transform:translateY(3%);} 100% {-o-transform:translateY(0%);} }

@keyframes anBlockRecruitNext     { 0% {transform:translateY(0%);} 25% {transform:translateY(34%);} 50% {transform:translateY(-164%);} 75% {transform:translateY(-164%);} 100% {transform:translateY(0%);}  }
@-webkit-keyframes anBlockRecruitNext   { 0% {-webkit-transform:translateY(0%);} 25% {-webkit-transform:translateY(34%);} 50% {-webkit-transform:translateY(-164%);} 75% {-webkit-transform:translateY(-164%);} 100% {transform:translateY(0%);}  }
@-moz-keyframes anBlockRecruitNext   { 0% {-moz-transform:translateY(0%);} 25% {-moz-transform:translateY(34%);} 50% {-moz-transform:translateY(-164%);} 75% {-moz-transform:translateY(-164%);} 100% {-moz-transform:translateY(0%);}  }
@-o-keyframes anBlockRecruitNext   { 0% {-o-transform:translateY(0%);} 25% {-o-transform:translateY(34%);} 50% {-o-transform:translateY(-164%);} 75% {-o-transform:translateY(-164%);} 100% {-o-transform:translateY(0%);}  }
.block-recruit {
	position: absolute;
	width: 100%;
	top: 15%;
	animation:anBlockRecruit 2s linear 1s infinite alternate none;
	-webkit-animation:anBlockRecruit 2s linear 1s infinite alternate none;
	-moz-animation:anBlockRecruit 2s linear 1s infinite alternate none;
	-o-animation:anBlockRecruit 2s linear 1s infinite alternate none;
}
.recruitToNext {
	animation:anBlockRecruitNext 1s linear 0s 1 alternate none ;
	-webkit-animation:anBlockRecruitNext 1s linear 0s 1 alternate none;
	-moz-animation:anBlockRecruitNext 1s linear 0s 1 alternate none;
	-o-animation:anBlockRecruitNext 1s linear 0s 1 alternate none;
}
.block-recruit img {
	width: 62%;
}

/*page02 start*/

.page2 {
	background: rgba(254,184,41,1);
}

.shadowL {
	position: absolute;
	top: 29%;
	width: 55%;	
	left:8%;
}
.shadowL img {
	width: 100%
}
.anshowL{	
	transition:opacity 0.9s ease-out;
	-moz-transition: opacity 0.9s ease-out;
	-webkit-transition: opacity 0.9s ease-out;
	-o-transition: opacity 0.9s ease-out;	
}

.faces {
	position: absolute;
	top: 22%;
	width: 25%;
}
.faces img {
	width: 100%;
}
.lfaces {
	left: 25%;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
.rfaces {
	left: 49%;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.humanWords {
	top: 45%;
}
.goneTitle {
	width: 26%;
	left: 22%;
}
.humanWords img {
	width: 100%;
}
.oldTitle {
	width: 26%;
	left: 49%;
}

.humanTitle {
	position: absolute;
	width: 100%;
	top: 63%;
}

.humanTitle img {
	width:100%;
}
.humanHSEEHead {
	position: absolute;
	width: 100%;
	top: 8%;
}
.humanHSEEHead img {
	width:100%;
}

.humanHSEETitle img {
	width:100%;
}

/*page03 start*/

.page3 {
	background: rgba(95,228,238,1);
	background-image: url(../images/page03/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.intro-title {
	margin-top: 20%;
}
.intro-title img {
	width: 62%;
	margin-top: 18%;
	transition: margin-top 0.8s ease;
	-moz-transition: margin-top 0.8s ease;
	-webkit-transition: margin-top 0.8s ease;
	-o-transition: margin-top 0.8s ease;
}
.intro-title .hengxian{
	border-bottom: 1px solid rgb(52,63,79);
	margtin-top:18%;
	width: 62%;
	margin-left:auto;
	margin-right:auto;
	transition: margin-top 0.8s ease;
	-moz-transition: margin-top 0.8s ease;
	-webkit-transition: margin-top 0.8s ease;
	-o-transition: margin-top 0.8s ease;
}
.anintro0-5{
	margin-top: 0.5% !important;
}
.anintro2{
	margin-top: 2% !important;
}
.anintro3{
	margin-top: 3% !important;
}
.anintro3-5{
	margin-top: 3.5% !important;
}
.anintro5{
	margin-top: 5% !important;
}

/*page4 start*/

.page4 {
	background: rgba(95,228,238,1);
	background-image: url(../images/page03/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.hess-character {
	margin-top: 7%;
}
.charc-block {
	width: 100%;
	margin-top:18%;
}

.swiper-slide-active .charc-block {
	transition: margin-top 0.8s ease;
	-moz-transition: margin-top 0.8s ease;
	-webkit-transition: margin-top 0.8s ease;
	-o-transition: margin-top 0.8s ease;
}

.charac-head img {
	width: 75%;
}
.charac-lineUp {
	margin-top: 12%;
	width: 75%;
	border-bottom: 1px solid rgb(52,63,79);
	margin-left:auto;
	margin-right:auto;
}
.ancharac-lineUp {
	margin-top: 2%;
}
.charac-secHead {
	margin-top: 10%;
}
.ancharac-secHead {
	margin-top: 3%;
}
.charac-secHead img {
	width: 53%;
}
.charac-position {
	margin-top: 10%;
}
.ancharac-position {
	margin-top: 8%;
}
.charac-position img {
	width: 25%;
}
.charac-lineShort {
	width: 9%;
	margin-top: 2%;
	border-bottom: 1px solid rgb(52,63,79);
	margin-left:auto;
	margin-right:auto;
}
.ancharac-lineShort {
	margin-top: 2%;
}
.charac-article {
	margin-top: 10%;
}
.charac-article img {
	width: 69%;
}
.ancharac-article {
	margin-top: 3.5%;
}

.hess-charCircle {
	position: relative;
	margin-top: 20%;
	width: 100%;
	transition: margin-top 0.5s ease;
	-moz-transition: margin-top 0.5s ease;
	-webkit-transition: margin-top 0.5s ease;
	-o-transition: margin-top 0.5s ease;
}
.anhess-charCircle {
	margin-top: 18%;
}
.hess-charCircle img {
	width: 100%;
}

.charCircle-left {
	width: 27%;
	margin-left: 6%;
}
.charCircle-center {
	position: absolute;
	width: 36%;
	left: 32%;
	top: 16%;

}
.anCharCircle-center{
	top: -16%;
	transition: top 0.5s;
	-moz-transition: top 0.5s;
	-webkit-transition: top 0.5s;
	-o-transition: top 0.5s;
}

.charCircle-right {
	position: absolute;
	width: 27%;
	left: 67%;
	top: 53%;
}
.anCharCircle-right{
	top: 0;
	transition: top 0.5s;
	-moz-transition: top 0.5s;
	-webkit-transition: top 0.5s;
	-o-transition: top 0.5s;
}


/*page5 start*/
.page5 {
	background: rgba(95,228,238,1);
	background-image: url(../images/page05/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.weiGo {
	width: 100%;
}
.weiGo img{
	width:100%;
}

/*swiper-mile*/
.page6 {
	background: rgba(95,228,238,1);
	background-image: url(../images/page06/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.lastMile {
	position: absolute;
	width: 100%;
}

.lastMileicon{
	top: 8.9463%;
}

.lastMileicon img {
	width: 72%;
}

.mileArrows {
	position: absolute;
	width: 10%;
	z-index: 20;
}
.mileArrows img {
	width: 50%;
}
.mileLeftArrow {
	left: 6%;
	top: 41%;
}
@keyframes anMileLArrow   {
from {
	left: 0%;
}
to {
	left: 4%;
}}
@-webkit-keyframes
anMileLArrow {from {
	left: 0%;
}
to {
	left: 4%;
}}
@-moz-keyframes
anMileLArrow {from {
	left: 0%;
}
to {
	left: 4%;
}}
@-o-keyframes
anMileLArrow {from {
	left: 0%;
}
to {
	left: 4%;
}}
.swiper-slide-active  .mileLeftArrow {
	animation:anMileLArrow 1s linear infinite alternate none;
	-webkit-animation:anMileLArrow 1s linear infinite alternate none;
	-moz-animation:anMileLArrow 1s linear infinite alternate none;
	-o-animation:anMileLArrow 1s linear infinite alternate none;
}
.mileRightArrow {
	left: 89%;
	top: 41%;
}
@keyframes anMileRArrow  {
from {
	left: 91%;
}
to {
	left: 87%;
}}
@-webkit-keyframes
anMileRArrow {from {
	left: 91%;
}
to {
	left: 87%;
}}
@-moz-keyframes
anMileRArrow {from {
	left: 91%;
}
to {
	left: 87%;
}}
@-o-keyframes
anMileRArrow {from {
	left: 91%;
}
to {
	left: 87%;
}}
.swiper-slide-active  .mileRightArrow {
	animation:anMileRArrow 1s linear infinite alternate none;
	-webkit-animation:anMileRArrow 1s linear infinite alternate none;
	-moz-animation:anMileRArrow 1s linear infinite alternate none;
	-o-animation:anMileRArrow 1s linear infinite alternate none;
}

.mileCircle {
	top: 28%;
}

.mileCircle img {
	width: 53%;
}
.mileCircleIn {
	top: 28%;
}
.mileCircleIn img {
	width: 56%;
}
.mileCircleOut {
	top: 25%;
}
.mileCircleOut img {
	width: 66%;
}
.mile-title {
	position: absolute;
	width: 100%;
	top: 72%;
}
.mile-title div{
	text-align:center;
	color: rgb(52,63,79);
}
.mile-title div:first-child{
	font-size: 1.3em;
	font-weight:bold;
}
.mile-title div:nth-child(2){
	font-size: 0.8em;
	margin-top: 2%;
	font-weight:100;
}
/*.mile-title img {
	width: 50%;
}*/

.mileHide-Circle {
	position: absolute;
	width: 100%;
	top: 27%;
}
.mileHide-Circle img {
	width: 100%;
}
.mile-icons {
	position: absolute;
	width: 300%;
	left: 20%;
	top: 28%;
}
.mile-icons img {
	width: 100%;
}
.mile-icons {
	transition: transform 0.3s linear;
	-webkit-transition: -webkit-transform 0.3s linear;
	-moz-transition: -moz-transform 0.3s linear;
	-o-transition: -o-transform 0.3s linear;
}

/*page07 started*/
.page7 {
	background: rgba(95,228,238,1);
	background-image: url(../images/page03/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.hseeskillbar {
	width: 100%;
	margin-top: 4%;
	position: relative;
}
.hseeskillstopbar {
	margin-top: 18%;
}
.hseeskillColorbar {
	width: 100%;
}
.swiper-slide-active .hseeskillColorbar {
	transition: margin-left 0.8s;
	-moz-transition: margin-left 0.8s; /* Firefox 4 */
	-webkit-transition: margin-left 0.8s; /* Safari and Chrome */
	-o-transition: margin-left 0.8s; /* Opera */
}
.swiper-slide-active .hseeskillColortitle {
	transition: left 0.8s;
	-moz-transition: left 0.8s;
	-webkit-transition: left 0.8s;
	-o-transition: left 0.8s;
}
.hseeskillbar img {
	width: 100%;
}

.hseeskills-blackbar {
	margin-left: 100%;
}
.hseeskills-bluebar {
	margin-left: -100%;
}
.hseeskills-redbar {
	margin-left: 100%;
}
.hseeskills-greenbar {
	margin-left: -100%;
}
.hseeskills-blacktitle {
	width: 50%;
	position: absolute;
	left: 100%;
	top: 14%;
}
.hseeskills-bluetitle {
	width: 78%;
	position: absolute;
	left: -100%;
	top: 14%;
}
.hseeskills-redtitle {
	width: 78%;
	position: absolute;
	left: 100%;
	top: 14%;
}
.hseeskills-greentitle {
	width: 82%;
	position: absolute;
	left: -100%;
	top: 14%;
}

.swiper-slide-active .hseeskills-blackbar {
	margin-left: 4%;
}
.swiper-slide-active .hseeskills-bluebar {
	margin-left: -4%;
	transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
}
.swiper-slide-active .hseeskills-redbar {
	margin-left: 4%;
	transition-delay: 1s;
	-moz-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
}
.swiper-slide-active .hseeskills-greenbar {
	margin-left: -4%;
	transition-delay: 1.5s;
	-moz-transition-delay: 1.5s;
	-webkit-transition-delay: 1.5s;
	-o-transition-delay: 1.5s;
}

.swiper-slide-active  .hseeskills-blacktitle {
	left: 46%;
	transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
}
.swiper-slide-active  .hseeskills-bluetitle {
	left: 4%;
	transition-delay: 1s;
	-moz-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
}

.swiper-slide-active  .hseeskills-redtitle {
	left: 18%;
	transition-delay: 1.5s;
	-moz-transition-delay: 1.5s;
	-webkit-transition-delay: 1.5s;
	-o-transition-delay: 1.5s;
}

.swiper-slide-active  .hseeskills-greentitle {
	left: 4%;
	transition-delay: 2s;
	-moz-transition-delay: 2s;
	-webkit-transition-delay: 2s;
	-o-transition-delay: 2s;
}

/*page8 started */
.page8 {
	background: rgba(95,228,238,1);
	background-image: url(../images/page03/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.locations {
	position: relative;
	margin-top: 14%;
}
.locationDesc {
	margin-top: 7%;
	width: 100%;
	margin-left: -1%;
}
.locationDesc img{
	width: 33.90625%;
}

/*.locationOrg img {
	width: 16%;
}*/
/*.locationOrg{
	text-align:center;
	color: rgb(3,145,141);
	font-size: 0.9em
}
.locationTitle {
	margin-top: 1%;
	text-align:center;
	color: rgb(52,63,79);
	font-size: 1.3em
}*/
/*.locationTitle img {
	width: 26%;
}*/
/*.locationCorp {
	margin-top: 2%;
	text-align:center;
	color: rgb(52,63,79);
	font-size: 0.7em;
	font-weight: bolder;
}*/
/*.locationCorp img {
	width: 34%;
}*/
.locationTree {
	width: 100%;
}
.locationTree img {
	width: 75%;
}
.location-name img {
	width: 100%;
}
.location-name {
	width: 8%;
	position: absolute;	
	top: -20%;
	opacity:0;
	transition: top 1s;
	-moz-transition: top 1s; /* Firefox 4 */
	-webkit-transition: top 1s; /* Safari and Chrome */
	-o-transition: top 1s; /* Opera */
	transition-delay: 1s;
	-moz-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
}

.location-beijing {
	left: 8%;
}
.swiper-slide-active .location-beijing {
	top: 11%;
}
.location-hefei {
	left: 9%;
}
.swiper-slide-active .location-hefei {
	top: 34%;
}
.location-shanghai {
	left: 33%;
}
.swiper-slide-active .location-shanghai {
	top: -6%;
}
.location-hangzhou {
	left: 46%;
}
.swiper-slide-active .location-hangzhou {
	top: 1%;
}
.location-chengdu {
	left: 57%;
}
.swiper-slide-active .location-chengdu {
	top: 16%;
}
.location-qingdao {
	left: 68%;
}
.swiper-slide-active .location-qingdao {
	top: 5%;
}
.location-zhenzhou {
	left: 85%;
}
.swiper-slide-active .location-zhenzhou {
	top: 18%;
}

/*page9 started*/
.page9{
	background: rgb(85,195,207);
}
.officeWall{
	background: rgb(110,227,239);
	background-image: url(../images/page09/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 63%;
}
.officeDesk{
	position:relative;
	margin-top: -44%;
}
.swiper-slide-active .officeHead {
	left: 0%;
	transition: left 1s;
	-moz-transition: left 1s; /* Firefox 4 */
	-webkit-transition: left 1s; /* Safari and Chrome */
	-o-transition: left 1s; /* Opera */
}
.swiper-slide-active .officeTitle{
	left: 0%;
	transition: left 1s;
	-moz-transition: left 1s; /* Firefox 4 */
	-webkit-transition: left 1s; /* Safari and Chrome */
	-o-transition: left 1s; /* Opera */
}
.officeHead{
	left: 75%;
	width: 100%;
	position: absolute;
	top: 6%;
}

.officeHead img{
	width: 47%;
}
.officeComputer{
	width:100%;
}
.officeComputer img
{
	width: 60%;
}
.officeItems{
	position: absolute;
}
.officeItems img{
	width:100%;
}
.officeStick {
	width: 11%;	
	top: 0%;
	left: 56%;
}
.computerCircle{
	width:100%;
	top: 15%;
	position: absolute;
}
.computerCircle img{
	width:16%;
}
.officeBottle{
	width:28%;
	left: -42%;
	top: 54%;
}
.anOfficeBottle{
	left: 12.5%;
	transition: left 1s;
	-moz-transition: left 1s; /* Firefox 4 */
	-webkit-transition: left 1s; /* Safari and Chrome */
	-o-transition: left 1s; /* Opera */
}
.officePen{
	width:16.5%;
	left: -21%;
	top: 106%;
}
.anOfficePen{
	left: 3%;
	transition: left 1s;
	-moz-transition: left 1s; /* Firefox 4 */
	-webkit-transition: left 1s; /* Safari and Chrome */
	-o-transition: left 1s; /* Opera */
}

.officeMobile{
	width:7.8%;
	left: -28%;
	top: 115%;
}
.anOfficeMobile{
	left: 19%;
	transition: left 1s;
	-moz-transition: left 1s; /* Firefox 4 */
	-webkit-transition: left 1s; /* Safari and Chrome */
	-o-transition: left 1s; /* Opera */
}


.officeKeyboard{
	width:36.3%;
	left: -72%;
	top: 113%;
}
.anOfficeKeyboard{
	left: 35%;
	transition: left 1s;
	-moz-transition: left 1s; /* Firefox 4 */
	-webkit-transition: left 1s; /* Safari and Chrome */
	-o-transition: left 1s; /* Opera */
}

.officeNotebook{
	width:37.8%;
	left: 140%;
	top: 80%;
}
.anOfficeNotebook{
	left: 64%;
	transition: left 1s;
	-moz-transition: left 1s; /* Firefox 4 */
	-webkit-transition: left 1s; /* Safari and Chrome */
	-o-transition: left 1s; /* Opera */
}

.officeMouse{
	width:6.3%;
	left: 130%;
	top: 119%;
}
.anOfficeMouse{
	left: 78%;
	transition: left 1s;
	-moz-transition: left 1s; /* Firefox 4 */
	-webkit-transition: left 1s; /* Safari and Chrome */
	-o-transition: left 1s; /* Opera */
}

/*page10 started*/

.page10 {
	background: rgb(95,228,238);
	
}
.hseeEye {
	position: absolute;
	width: 168%;
	/*margin-left: 8%;*/
	left: 0%;
	top:-5%;
}

.swiper-slide-active .hseeEye {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation:anEyeCenter 30s linear infinite ;
	-webkit-animation:anEyeCenter 30s linear infinite ;
	-moz-animation:anEyeCenter 30s linear infinite ;
	-o-animation:anEyeCenter 30s linear infinite ;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
@keyframes anEyeCenter  { 0% {transform:rotate(0deg);} 100% {transform:rotate(360deg);}}
@-webkit-keyframes anEyeCenter   { 0% {-webkit-transform:rotate(0deg);} 100% {-webkit-transform:rotate(360deg);}}
@-moz-keyframes anEyeCenter { 0% {-moz-transform:rotate(0deg);} 100% {-moz-transform:rotate(360deg);}}
@-o-keyframes anEyeCenter   { 0% {-o-transform:rotate(0deg);} 100% {-o-transform:rotate(360deg);}}

@keyframes anEyeItemCenter  { 0% {transform:rotate(360deg);} 100% {transform:rotate(0deg);}}
@-webkit-keyframes anEyeItemCenter   { 0% {-webkit-transform:rotate(360deg);} 100% {-webkit-transform:rotate(0deg);}}
@-moz-keyframes anEyeItemCenter { 0% {-moz-transform:rotate(360deg);} 100% {-moz-transform:rotate(0deg);}}
@-o-keyframes anEyeItemCenter   { 0% {-o-transform:rotate(360deg);} 100% {-o-transform:rotate(0deg);}}

.eyeCenter {
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
}

.eyeCenterback {
	width: 100%;
	z-index: 1;
	opacity: 0;
}
.eyeCenterback img {
	width: 100%;
}

.eyeCenter img {
	width: 100%;
}
.eyeitems {
	width: 60%;
	position: absolute;
}
.swiper-slide-active  .eyecircle {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation:anEyeItemCenter 30s linear infinite ;
	-webkit-animation:anEyeItemCenter 30s linear infinite ;
	-moz-animation:anEyeItemCenter 30s linear infinite ;
	-o-animation:anEyeItemCenter 30s linear infinite ;
}
.eyeblue {
	top: 26%;
	left: -17%;
}
.eyeblue img {
	width: 14%;
}
.eyeblueline {
	top: 30%;
	z-index: 0;
	left: -5%;
}
.eyeblueline img {
	width: 40%;
}
.eyebluetitle {
	width: 100%;
	top: 42%;
	left: -7%;
	position: absolute;
}

.eyebluetitle img {
	width: 29.5%;
}

.eyered {
	top: 9%;
	left: 41%;
}
.eyered img {
	width: 14%;
}
.eyeredline {
	top: 16%;
	left: 31%;
	z-index: 0;
}
.eyeredline img {
	width: 27.2%;
}

.eyeredtitle {
	width: 100%;
	top: 39%;
	left: -8%;
	position: absolute;
}

.eyeredtitle img {
	width: 29.5%;
}
.eyegray {
	z-index: 0;
	top: 41%;
	left: 64%;
}
.eyegray img {
	width: 14%;
}
.eyegrayline {
	z-index: 0;
	top: 45.5%;
	left: 50%;
}
.eyegrayline img {
	width: 40.6%;
}

.eyegraytitle {
	width: 100%;
	top: 39%;
	left: -8%;
	position: absolute;
}

.eyegraytitle img {
	width: 29.5%;
}
.eyegreen {
	top: 83%;
	left: 38.5%;
}
.eyegreen img {
	width: 14%;
}
.eyegreenline {
	z-index: 0;
	top: 63%;
	left: 31%;
}
.eyegreenline img {
	width: 19%;
}
.eyegreentitle {
	width: 100%;
	top: 35%;
	left: -8%;
	position: absolute;
}

.eyegreentitle img {
	width: 29.5%;
}
.eyeyellow {
	top: 69%;
	left: -16%;
}
.eyeyellow img {
	width: 14%;
}
.eyeyellowline {
	top: 64%;
	z-index: 0;
	left: -6%;
}
.eyeyellowline img {
	width: 37.5%;
}

.eyeyellowtitle {
	position: absolute;
	width: 100%;
	top: 39%;
	left: -8%;
}

.eyeyellowtitle img {
	width: 29.5%;
}

.eyelogo{
	top: 41%;
	z-index: 2;
	left: 20.2%;
}

.eyelogo img{
	width: 27.7%;
}


/*page11 started*/
.page11{
	background-image: url(../images/page11/di.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.heartCircle{
	position:relative;
	width: 100%;
	margin-top:20%;
}
.heart{
	position: relative;
	width: 100%;
}
.heart img{
	width: 89%;
}
.heartItems{
	position: absolute;
}
.heartItems img{
	width:100%;
}

.dreamtitle{
	width: 52.5%;
	top: 3%;
	z-index: 0;
	left: 12%;
}

@keyframes andreamtitle   { 0% {top:-7%;left:52%;}  100% {top:3%;left:12%;}}
@-webkit-keyframes andreamtitle   { 0% {top:-40%;left:44%;} 100% {top:3%;left:12%;}}
@-moz-keyframes andreamtitle { 0% {top:-7%;left:52%;} 100% {top:3%;left:12%;}}
@-o-keyframes andreamtitle   { 0% {top:-7%;left:52%;} 100% {top:3%;left:12%;}}

.swiper-slide-active .dreamtitle
{
	animation:andreamtitle 0.5s ease  1 ;
	-webkit-animation:andreamtitle 0.5s ease  1;
	-moz-animation:andreamtitle 0.5s ease  1;
	-o-animation:andreamtitle 0.5s ease  1;
}




.hearttitle{
	width: 47.2%;
	z-index: 0;
	top: 36%;
	left: 11%;
}
@keyframes anhearttitle   { 0% {top:-4%;left:-32%;}  100% {top:36%;left:11%;}}
@-webkit-keyframes anhearttitle   { 0% {top:-4%;left:-32%;} 100% {top:36%;left:11%;}}
@-moz-keyframes anhearttitle { 0% {top:-4%;left:-32%;} 100% {top:36%;left:11%;}}
@-o-keyframes anhearttitle   { 0% {top:-4%;left:-32%;} 100% {top:36%;left:11%;}}

.swiper-slide-active .hearttitle
{
	animation:anhearttitle 0.5s ease 0.1s  1 ;
	-webkit-animation:anhearttitle 0.5s ease 0.1s  1;
	-moz-animation:anhearttitle 0.5s ease 0.1s  1;
	-o-animation:anhearttitle 0.5s ease 0.1s  1;
}

.heartCharacter{
	width: 48.4%;
	top: 1%;
	left: 33%;
}
@keyframes anBigHeart   { 0% {top:64%;left:-19%;}  100% {top:1%;left:33%;}}
@-webkit-keyframes anBigHeart   { 0% {top:64%;left:-19%;} 100% {top:1%;left:33%;}}
@-moz-keyframes anBigHeart { 0% {top:64%;left:-19%;} 100% {top:1%;left:33%;}}
@-o-keyframes anBigHeart   { 0% {top:64%;left:-19%;} 100% {top:1%;left:33%;}}

.swiper-slide-active .heartCharacter
{
	animation:anBigHeart 0.5s ease 1 ;
	-webkit-animation:anBigHeart 0.5s ease 1;
	-moz-animation:anBigHeart 0.5s ease 1;
	-o-animation:anBigHeart 0.5s ease 1;
}

.change{
	width: 34.1%;
	top: 20%;
	left: 54%;
}

@keyframes anBigChange   { 0% {top:-25%;left:92%;}  100% {top:20%;left:54%;}}
@-webkit-keyframes anBigChange   { 0% {top:-25%;left:92%;} 100% {top:20%;left:54%;}}
@-moz-keyframes anBigChange { 0% {top:-25%;left:92%;} 100% {top:20%;left:54%;}}
@-o-keyframes anBigChange   { 0% {top:-25%;left:92%;} 100% {top:20%;left:54%;}}

.swiper-slide-active .change
{
	animation:anBigChange 0.5s ease 0.1s 1;
	-webkit-animation:anBigChange 0.5s ease 0.1s 1;
	-moz-animation:anBigChange 0.5s ease 0.1s 1;
	-o-animation:anBigChange 0.5s ease 0.1s 1;
}



.dream{
	width: 29.7%;
	top: 34%;
	left: 60%;
}
@keyframes anBigDream   { 0% {top:-1%;left:89%;}  100% {top:34%;left:60%;}}
@-webkit-keyframes anBigDream   { 0% {top:-1%;left:89%;} 100% {top:34%;left:60%;}}
@-moz-keyframes anBigDream { 0% {top:-1%;left:89%;} 100% {top:34%;left:60%;}}
@-o-keyframes anBigDream   { 0% {top:-1%;left:89%;} 100% {top:34%;left:60%;}}

.swiper-slide-active .dream
{
	animation:anBigDream 0.5s ease 0.1s  1;
	-webkit-animation:anBigDream 0.5s ease 0.1s 1;
	-moz-animation:anBigDream 0.5s ease 0.1s 1;
	-o-animation:anBigDream 0.5s ease  0.1s 1;
}

/*page12 started*/
.page12{
	background:rgb(240,26,49);
}
.page12background{
	background-image: url(../images/page12/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;	
}
.page12detailbackground{
	background-image: url(../images/page12/di.png);
	background-repeat: no-repeat;
	background-size: cover;	
}
.entrancetitle{
	margin-top: 10%;	
	width: 100%;
}
.entrancetitle img{
	width:76.40625%;
}

.entranceButton{
	position: relative;
	width:100%;
	margin-top:6%;
}
.entranceButton img{
	width: 26.6%;
}

.entranceEmployees{
	position: relative;
	width:100%;
	margin-top:12%;
}
.entranceEmployees img{
	width: 100%;
}
.human2{
	position: relative;
	width:100%;
	z-index:1;
	margin-left:3%;
}
.human2 img{
	width: 60%;
}
.human7{
	position: absolute;
	width: 60%;
	top: -7%;
	left: -19%;
	z-index:1;
}
.human6{
	position: absolute;
	width: 60%;
	top: -8%;
	left: 58%;
	z-index:1;
}
.human5{
	position: absolute;
	width: 53.1%;
	z-index:0;
	opacity: 0.2;
	top: -26%;
	left: -21%;
}
.human1{
	position: absolute;
	width: 53%;
	z-index:0;
	opacity: 0.2;
	top: -24%;
	left: 8%;
}
.human4{
	position: absolute;
	width: 53%;
	z-index:0;
	opacity: 0.2;
	top: -18%;
	left: 48%;
}
.human10{
	position: absolute;
	width: 53%;
	z-index:0;
	opacity: 0.2;
	top: -35%;
	left: 78%;
}

.scaleo {
	backface-visibility: visible;
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-o-backface-visibility: visible;
	transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	animation:scaleo 1.5s linear 0.5s infinite alternate none;
	-webkit-animation: scaleo 1.5s linear 0.5s infinite alternate none;
	-moz-animation:scaleo 1.5s linear 0.5s infinite alternate none;
	-o-animation:scaleo 1.5s linear 0.5s infinite alternate none;
} 

@keyframes scaleo{0%{opacity:1;transform:scaleX(1) scaleY(1);} 100%{opacity:1;transform:scaleX(1.2) scaleY(1.2);}}
@-webkit-keyframes scaleo{0%{opacity:1;-webkit-transform:scaleX(1) scaleY(1);} 100%{opacity:1;-webkit-transform:scaleX(1.2) scaleY(1.2);}}
@-moz-keyframes scaleo{0%{opacity:1;-moz-transform:scaleX(1) scaleY(1);} 100%{opacity:1;-moz-transform:scaleX(1.2) scaleY(1.2);}}
@-o-keyframes scaleo{0%{opacity:1;-o-transform:scaleX(1) scaleY(1);} 100%{opacity:1;-o-transform:scaleX(1.2) scaleY(1.2);}}
/*page12 recruit*/
.recruittitle{
	margin-top: 15%;
	width:100%;
}
.recruittitle img{
	width: 100%;
}
.recruitButtons{
	position:relative;
	margin-top:20%;
}
.recruitleaderbtn{
	position:relative;
	width: 100%;
}
.recruitleaderbtn img{
	width: 26.6%;
}
.recruitproductbtn{
	position: absolute;
	top:0;
	width: 26.5%;
	left:6%;
}
.recruitproductbtn img{
	width: 100%;
}
.recruitengineerbtn{
	position: absolute;
	top:0;
	width: 26.5%;
	left:67.5%
}
.recruitengineerbtn img{
	width: 100%;
}

/*page12 product detail*/
.resourcetitle{
	position: relative;
	margin-top:4%;
	width:100%;
}
.resourcetitle img{
	width: 28.8%;
}
.engineertitle img{
	width: 36%;
}

.producthumans , .leaderhumans, .enghumans{
	position: relative;
	margin-top:15%;
	width:100%;
}
.producthumanback, .leaderhumanback, .enghumanback{
	position: relative;
	opacity: 0;
	z-index:0;
}
.producthumanback img{
	width:45%;
}
.producthuman1{
	position:absolute;
	width: 100%;
	top:16%;
}
.producthuman1 img{
	width:38.1%;
}
.producthuman2{
	position:absolute;
	width: 100%;
	top:16%;
	left:20%;
}
.producthuman2 img{
	width: 38.1%;
}
.producthuman3{
	position:absolute;
	width: 100%;
	top:16%;
	left:0%;
}
.producthuman3 img{
	width:38.1%;
}
.producthuman4{
	position:absolute;
	width: 100%;
	top:16%;
	left:-20%;
}
.producthuman4 img{
	width:38.1%;
}

.resourcewhiteback{
	width:100%;
	margin-top:5%;
	position:relative;
}

.positiondesc{
	 width: 100%;
	 position: absolute;
	 top: 14%;
	transition: transform 0.4s linear;
	-webkit-transition: -webkit-transform 0.4s linear;
	-moz-transition: -moz-transform 0.4s linear;
	-o-transition: -o-transform 0.4s linear;	 
}
.positiondesc img{
	width:35.6%;
}
.product1{
	transform: translateX(0);
	-webkit-transform: translateX(0);
}
.product2{
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
}
.product3{
	transform: translateX(200%);
	-webkit-transform: translateX(200%);
}
.product4{
	transform: translateX(300%);
	-webkit-transform: translateX(300%);
}
.leader1{
	transform: translateX(0);
	-webkit-transform: translateX(0);
}
.leader2{
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
}
.leader3{
	transform: translateX(200%);
	-webkit-transform: translateX(200%);
}
.engineer1{
	transform: translateX(0);
	-webkit-transform: translateX(0);
}
.engineer2{
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
}
.engineer3{
	transform: translateX(200%);
	-webkit-transform: translateX(200%);
}
.engineer4{
	transform: translateX(300%);
	-webkit-transform: translateX(300%);
}
.resourcewhitebackImg{
	width: 44.7%;
}
.recruitOverlay {
	width: 100%;
	position: absolute;
	top:0%;
}
.recruitOverlay img{
	width: 100%;
}
.recruitArrowLeft{
	position: absolute;
	width:5%;
	top:35%;
	left: 13%;
	/*z-index:9;*/
}

.recruitArrowLeft img{
	width: 100%;
}
.recruitArrowRight{
	position: absolute;
	width:10%;
	top:35%;
	left: 76.6%;
}
.recruitArrowRight img{
	width: 50%;
}

.anArrowRight{
	animation:anrecruitR 4s linear infinite normal none;
	-webkit-animation: anrecruitR 4s linear infinite normal none;
	-moz-animation:anrecruitR 4s linear infinite normal none;
	-o-animation:anrecruitR 4s linear infinite normal none;		
}
.anArrowLeft{
	-webkit-backface-visibility: hidden; 
   	backface-visibility: hidden;
	animation:anrecruitL 4s linear infinite normal;
	-webkit-animation: anrecruitL 4s linear infinite normal;
	-moz-animation:anrecruitL 4s linear infinite normal;
	-o-animation:anrecruitL 4s linear infinite normal;		
}

@keyframes anrecruitR{0% {opacity:1;left:76.6%} 25%{opacity:0;left:84.6%}50% {opacity:0;left:76.6%} 75% {opacity:0;left:76.6%} 100%{opacity:0;left:76.6%}}
@-webkit-keyframes anrecruitR{0% {opacity:1;left:76.6%} 25%{opacity:0;left:84.6%}50% {opacity:0;left:76.6%} 75% {opacity:0;left:76.6%} 100%{opacity:0;left:76.6%}}
@-moz-keyframes anrecruitR{0% {opacity:1;left:76.6%} 25%{opacity:0;left:84.6%}50% {opacity:0;left:76.6%} 75% {opacity:0;left:76.6%} 100%{opacity:0;left:76.6%}}
@-o-keyframes anrecruitR{0% {opacity:1;left:76.6%} 25%{opacity:0;left:84.6%}50% {opacity:0;left:76.6%} 75% {opacity:0;left:76.6%} 100%{opacity:0;left:76.6%}}

@keyframes anrecruitL{0% {opacity:1;left:13%} 25%{opacity:0;left:4%} 50% {opacity:0;left:4%} 75% {opacity:0;left:13%} 100%{opacity:0;left:13%}}
@-webkit-keyframes anrecruitL{0% {opacity:1;left:13%} 25%{opacity:0;left:4%} 50% {opacity:0;left:4%} 75% {opacity:0;left:13%} 100%{opacity:0;left:13%}}
@-moz-keyframes anrecruitL{0% {opacity:1;left:13%} 25%{opacity:0;left:4%} 50% {opacity:0;left:4%} 75% {opacity:0;left:13%} 100%{opacity:0;left:13%}}
@-o-keyframes anrecruitL{0% {opacity:1;left:13%} 25%{opacity:0;left:4%} 50% {opacity:0;left:4%} 75% {opacity:0;left:13%} 100%{opacity:0;left:13%}}

.recruitquit{
	position: absolute;
	width:12.2%;
	top:0%;
	left: 80%;
	z-index: 9;
}
.recruitquit img{
	width:100%;
}
@media only screen and (min-height: 500px){
   .recruitquit{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;	
		z-index: 9;	
		width:12.2%;
		top: 0;
		left: 0;
	}
} 



.swiperproductmen, .swiperleadermen, .swiperengineermen{
	width:100%;
	position: absolute;
	top:0;
}
.swiperproductmen .swiper-slide, .swiperleadermen .swiper-slide, .swiperengineermen .swiper-slide{
	width: 100%;
}

/*.swiperproductmen img,.swiperleadermen img{
	width:35.6%;
	margin-top:92%;
}
.swiperengineermen img{
	width:35.6%;
	margin-top:90%;
}*/

.leaderhumanback img{
	width:45%;
}
.leaderhuman1{
	position:absolute;
	width: 100%;
	top:16%;
}
.leaderhuman1 img{
	width:38.1%;
}
.leaderhuman2{
	position:absolute;
	width: 100%;
	top:16%;
	left:20%;
}
.leaderhuman2 img{
	width:38.1%;
}
.leaderhuman3{
	position:absolute;
	width: 100%;
	top:16%;
	left:-20%;
}
.leaderhuman3 img{
	width:38.1%;
}

.enghumanback img{
	width:45%;
}
.enghuman1{
	position:absolute;
	width: 100%;
	top:16%;
}
.enghuman1 img{
	width:38.1%;
}
.enghuman2{
	position:absolute;
	width: 100%;
	top:16%;
	left:20%;
}
.enghuman2 img{
	width:38.1%;
}

.enghuman3{
	position:absolute;
	width: 100%;
	top:16%;
	left:0%;
}
.enghuman3 img{
	width:38.1%;
}
.enghuman4{
	position:absolute;
	width: 100%;
	top:16%;
	left:-20%;
}
.enghuman4 img{
	width:38.1%;
}
.producthumans div, .leaderhumans div, .enghumans div{
	transition: left 1s linear;
	-webkit-transition: left 1s linear;
	-moz-transition: left 1s linear;
	-o-transition: left 1s linear;
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;	
}
.humanOpacity{
	opacity: 0.3;
	z-index:0;

}
.leaderhumanOpacity{
	opacity: 0.3;
	z-index:0;

}
.enghumanOpacity{
	opacity: 0.3;
	z-index:0;

}
.producthumanactive{
	opacity: 1;
	z-index:1;
	-webkit-transform: scale(1.4);
	top: 2%;
}
.leaderhumanactive{
	opacity: 1;
	z-index:1;
	-webkit-transform: scale(1.4);
	top: 2%;
}
.enghumanactive{
	opacity: 1;
	z-index:1;
	-webkit-transform: scale(1.4);	
	top: 2%;
}

/*page13 started*/
.page13{
	background:rgb(240,26,49);
	background-image: url(../images/page12/budongdi.png);
	background-repeat: no-repeat;
	background-size: cover;	
}
.swiper-slide-active .contacttopbutton{
	animation:scaleo 0.5s linear 2s 4 alternate none;
	-webkit-animation: scaleo 0.5s linear 2s 4 alternate none;
	-moz-animation:scaleo 0.5s linear 2s 4 alternate none;
	-o-animation:scaleo 0.5s linear 2s 4 alternate none;
}
.contacttopbutton{
	width: 100%;
	margin-top:4.5%;
}
.contacttopbutton img{
	width: 14.4%;
}
.contactcontent{
	width: 100%;
	margin-top:6%;
}
.contactcontent img{
	width: 100%;
}
.contactletter{
	width: 100%;
	position: relative;
	margin-top: 9%;
}
.letterbackground{
	width: 100%;
	position: relative;
}
.letterbackground img{
	width: 32%;
}
.swiper-slide-active .lettercircle{
	top:32%;
	transition: top 1s linear;
	-webkit-transition: top 1s linear;
	-moz-transition: top 1s linear;
	-o-transition: top 1s linear;	
}

.lettercircle{
	position: absolute;
	width: 16.9%;
	top: 62%;
	left: 42%;
}
.lettercircle img{
	width: 100%;
}
.letterfront{
	position: absolute;
	top: 37%;
	width: 31.9%;
	left: 34%;
}
.letterfront img{
	width: 100%;
}
.contactinfooverlay{
	    /* must be initially hidden */
    display:none;
    /* place overlay on top of other elements */
    z-index:10000;
    /* styling */
   	background-image: url(../images/page13/di.png);
	background-repeat: no-repeat;
	background-size: cover;	
    position:absolute;  
    top:0;
    left:0;
    width:100%;
    height:100%;

         
}
.contactinfotitle{
	width: 100%;
	margin-top: 21.57%;
}
.contactinfotitle img{
	width: 100%;
}

/*.contactinfotitle{
	color: white;
	text-align: center;
	width: 100%;
	margin-top: 15%;
	line-height: 0.7;
	font-size: 1em;
}
.contactma{
	width: 100%;
	margin-top:7%;
}
.contactma img{
	width:41%;
}
.contactscan{
	color: white;
	text-align: center;
	width: 100%;
	margin-top: 3%;
	line-height: 0.7;
	*/font-size: 1em;
}









.first-class {
	color: #fff;
	text-align: center;
	font-style: italic;
	font-size: 42px;
	margin-bottom: 0;
	line-height: 250px;
}
.swiper-container {
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
}
.swiper-human {
	width: 100%;
}
.red-slide {
	background: #ca4040;
}
.blue-slide {
	background: #4390ee;
}
.orange-slide {
	background: #ff8604;
}
.green-slide {
	background: #49a430;
}
.pink-slide {
	background: #973e76;
}
.swiper-slide {
	/*font-style: italic;
	font-size: 42px;
	margin-bottom: 0;
	line-height: 250px;*/
}
.swiper-human .swiper-slide {
	/*line-height: 125px;
	font-size: 21px*/
}
.pagination {
	position: absolute;
	z-index: 100;
	left: 10px;
	bottom: 10px;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #222;
	margin-right: 5px;
	opacity: 0.8;
	border: 1px solid #fff;
	cursor: pointer;
}
.swiper-visible-switch {
	background: #aaa;
}
.swiper-active-switch {
	background: #fff;
}
.pagination-nested {
	bottom: auto;
	top: 10px;
}
.pagination-nested .swiper-pagination-switch {
	display: block;
	margin-right: 0;
	margin-bottom: 5px;
}