body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  background: rgba(254,184,41,1);
}

.swiper-slide {
    position: relative;
}
.page1{
	background: rgba(254,184,41,1);
	background-image: url(../images/page01/budongdi.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/*lineWithCircle upper*/
@keyframes anCircleUp   { from { margin-top:-75%; margin-left:29%;} to { margin-top:-31%;margin-left:-8%; } }
@-webkit-keyframes anCircleUp   { from { margin-top:-75%; margin-left:29%;} to { margin-top:-31%;margin-left:-8%; } }
@-moz-keyframes anCircleUp  { from { margin-top:-75%; margin-left:29%;} to { margin-top:-31%;margin-left:-8%; } }
@-o-keyframes anCircleUp    { from { margin-top:-75%; margin-left:29%;} to { margin-top:-31%;margin-left:-8%; } }
.line-circleUp
{
	width:100%;
	position:relative;
	margin-top: -75%;
	margin-left: 29%;
    animation: 4s ease-in-out 0s alternate none infinite anCircleUp;
    -webkit-animation: 4s ease-in-out 0s alternate none infinite anCircleUp;
    -moz-animation:4s ease-in-out 0s alternate none infinite anCircleUp;
    -o-animation: 4s ease-in-out 0s alternate none infinite anCircleUp;
	
}
.line-circleUp img
{
	width: 70%;

}
/*Thin liner upper*/
@keyframes anlineUp   { 0% {transform:translate(0%,0%);} 25% {transform:translate(-8%,16%);} 50% {transform:translate(-16%,32%);} 75% {transform:translate(-24%,48%);} 100% {transform:translate(-32%,64%);}}
@-webkit-keyframes anlineUp   { 0% {-webkit-transform:translate(0%,0%);} 25% {-webkit-transform:translate(-8%,16%);} 50% {-webkit-transform:translate(-16%,32%);} 75% {-webkit-transform:translate(-24%,48%);} 100% {-webkit-transform:translate(-32%,64%);} } 
@-moz-keyframes anlineUp { 0% {-moz-transform:translate(0%,0%);} 25% {-moz-transform:translate(-8%,16%);} 50% {-moz-transform:translate(-16%,32%);} 75% {-moz-transform:translate(-24%,48%);} 100% {-moz-transform:translate(-32%,64%);}  }
@-o-keyframes anlineUp    { 0% {-o-transform:translate(0%,0%);} 25% {-o-transform:translate(-8%,16%);} 50% {-o-transform:translate(-16%,32%);} 75% {-o-transform:translate(-24%,48%);} 100% {-o-transform:translate(-32%,64%);}  }
.thin-line
{  
	position:absolute;
	width:80%;
	top:-20%;
	left:60%;
    animation: 2s linear 2s alternate none infinite anlineUp;
    -webkit-animation: 2s linear 2s alternate none infinite anlineUp;
    -moz-animation:2s linear 2s alternate none infinite anlineUp;
    -o-animation: 2s linear 2s alternate none infinite anlineUp;
	
}
.thin-line img
{
	width: 50%;

}
/*Thin retangle larger*/
@keyframes anRecLarge  { 0% {transform:translate(0%,0%);} 25% {transform:translate(-10%,10%);} 50% {transform:translate(-20%,20%);} 75% {transform:translate(-40%,40%);} 100% {transform:translate(-50%,50%);}  }
@-webkit-keyframes anRecLarge   { 0% {-webkit-transform:translate(0%,0%);} 25% {-webkit-transform:translate(-10%,10%);} 50% {-webkit-transform:translate(-20%,20%);} 75% {-webkit-transform:translate(-40%,40%);} 100% {-webkit-transform:translate(-50%,50%);}  }
@-moz-keyframes anRecLarge  { 0% {-moz-transform:translate(0%,0%);} 25% {-moz-transform:translate(-10%,10%);} 50% {-moz-transform:translate(-20%,20%);} 75% {-moz-transform:translate(-40%,40%);} 100% {-moz-transform:translate(-50%,50%);}  }
@-o-keyframes anRecLarge  { 0% {-o-transform:translate(0%,0%);} 25% {-o-transform:translate(-10%,10%);} 50% {-o-transform:translate(-20%,20%);} 75% {-o-transform:translate(-40%,40%);} 100% {-o-transform:translate(-50%,50%);}  }
.rec-long
{  
	position:absolute;
	width:80%;
	top:20%;
	left:-20%;
    animation: 3s linear 1s alternate none infinite anRecLarge;
    -webkit-animation:3s linear 1s alternate none infinite anRecLarge;
    -moz-animation:3s linear 1s alternate none infinite anRecLarge;
    -o-animation: 3s linear 1s alternate none infinite anRecLarge;
	
}
.rec-long img
{
	width: 100%;

}

/*Thin retangle small*/
@keyframes anRecSmall   { 0% {transform:translate(0%,0%);} 25% {transform:translate(-4%,10%);} 25% {transform:translate(-8%,20%);} 75% {transform:translate(-16%,40%);} 75% {transform:translate(-20%,50%);}}
@-webkit-keyframes anRecSmall   { 0% {-webkit-transform:translate(0%,0%);} 25% {-webkit-transform:translate(-4%,10%);} 50% {-webkit-transform:translate(-8%,20%);} 75% {-webkit-transform:translate(-16%,40%);} 100% {-webkit-transform:translate(-20%,50%);}} 
@-moz-keyframes anRecSmall { 0% {-moz-transform:translate(0%,0%);} 25% {-moz-transform:translate(-4%,10%);} 50% {-moz-transform:translate(-8%,20%);} 75% {-moz-transform:translate(-16%,40%);} 100% {-moz-transform:translate(-20%,50%);}}
@-o-keyframes anRecSmall   { 0% {-o-transform:translate(0%,0%);} 25% {-o-transform:translate(-4%,10%);} 50% {-o-transform:translate(-8%,20%);} 75% {-o-transform:translate(-16%,40%);} 100% {-o-transform:translate(-20%,40%);}}
.rec-short
{  
	position:absolute;
	width:60%;
	top:60%;
	left:-24%;
    animation: 1s linear 0 alternate none infinite anRecSmall;
    -webkit-animation:1s linear 0 alternate none infinite anRecSmall;
    -moz-animation:1s linear 0 alternate none infinite anRecSmall;
    -o-animation: 1s linear 0 alternate none infinite anRecSmall;
	
}
.rec-short img
{
	width: 50%;

}

/*lineWithCircle down*/
@keyframes anCircleDown   { 0% {transform:translate(0%,0%);} 25% {transform:translate(-8%,16%);} 50% {transform:translate(-16%,32%);} 75% {transform:translate(-24%,48%);} 100% {transform:translate(-32%,64%);}}
@-webkit-keyframes anCircleDown   { 0% {-webkit-transform:translate(0%,0%);} 25% {-webkit-transform:translate(-8%,16%);} 50% {-webkit-transform:translate(-16%,32%);} 75% {-webkit-transform:translate(-24%,48%);} 100% {-webkit-transform:translate(-32%,64%);} } 
@-moz-keyframes anCircleDown { 0% {-moz-transform:translate(0%,0%);} 25% {-moz-transform:translate(-8%,16%);} 50% {-moz-transform:translate(-16%,32%);} 75% {-moz-transform:translate(-24%,48%);} 100% {-moz-transform:translate(-32%,64%);}  }
@-o-keyframes anCircleDown    { 0% {-o-transform:translate(0%,0%);} 25% {-o-transform:translate(-8%,16%);} 50% {-o-transform:translate(-16%,32%);} 75% {-o-transform:translate(-24%,48%);} 100% {-o-transform:translate(-32%,64%);}  }
.line-circleDown
{  
	position:absolute;
	width:80%;
	top:80%;
	left:-40%;
    animation: 4s linear 0 alternate none infinite anCircleDown;
    -webkit-animation:4s linear 0 alternate none infinite anCircleDown;
    -moz-animation:4s linear 0 alternate none infinite anCircleDown;
    -o-animation: 4s linear 0 alternate none infinite anCircleDown;
	
}
.line-circleDown img
{
	width: 50%;

}
/*block small*/
@keyframes anBlockSmall  { 0% {transform:rotateZ(0deg);} 100% {transform:rotateZ(-360deg);}}
@-webkit-keyframes anBlockSmall   { 0% {-webkit-transform:rotateZ(0deg);} 100% {-webkit-transform:rotateZ(-360deg);}}
@-moz-keyframes anBlockSmall { 0% {-moz-transform:rotateZ(0deg);} 100% {-moz-transform:rotateZ(-360deg);}}
@-o-keyframes anBlockSmall   { 0% {-o-transform:rotateZ(0deg);} 100% {-o-transform:rotateZ(-360deg);}}
.block-small
{  
	position:absolute;
	-webkit-transform-origin: 1% 0;
	width:100%;
	top:52%;
	left:62%;
    animation: 4s linear  infinite anBlockSmall;
    -webkit-animation:4s linear  infinite anBlockSmall;
    -moz-animation:4s linear infinite anBlockSmall;
    -o-animation: 4s linear  infinite anBlockSmall;
	
}
.block-small img
{
	width:5%;
}

/*block large*/
@keyframes anBlockLarge  { 0% {transform:rotateZ(0deg);} 100% {transform:rotateZ(360deg);}}
@-webkit-keyframes anBlockLarge   { 0% {-webkit-transform:rotateZ(0deg);} 100% {-webkit-transform:rotateZ(360deg);}}
@-moz-keyframes anBlockLarge { 0% {-moz-transform:rotateZ(0deg);} 100% {-moz-transform:rotateZ(360deg);}}
@-o-keyframes anBlockLarge   { 0% {-o-transform:rotateZ(0deg);} 100% {-o-transform:rotateZ(360deg);}}
.block-large
{  
	position:absolute;
	-webkit-transform-origin: 1% 0;
	width:150%;
	top:50%;
	left:62%;
    animation: 8s linear 2s infinite anBlockLarge;
    -webkit-animation:8s linear 2s infinite anBlockLarge;
    -moz-animation:8s linear 2s infinite anBlockLarge;
    -o-animation: 8s linear 2s infinite anBlockLarge;
	
}
.block-large img
{
	width:5%;
}
/*Block recruit */
@keyframes anBlockRecruit   { 0% {transform:translateY(3%);} 100% {transform:translateY(0%);} }
@-webkit-keyframes anBlockRecruit    { 0% {-webkit-transform:translateY(3%);}  100% {-webkit-transform:translateY(0%);} }
@-moz-keyframes anBlockRecruit  { 0% {-moz-transform:translateY(3%);}  100% {-moz-transform:translateY(0%);} }
@-o-keyframes anBlockRecruit    { 0% {-o-transform:translateY(3%);} 100% {-o-transform:translateY(0%);} }

@keyframes anBlockRecruitNext     { 0% {transform:translateY(0%);} 25% {transform:translateY(34%);} 50% {transform:translateY(-164%);} 75% {transform:translateY(-164%);} 100% {transform:translateY(0%);}  }
@-webkit-keyframes anBlockRecruitNext   { 0% {-webkit-transform:translateY(0%);} 25% {-webkit-transform:translateY(34%);} 50% {-webkit-transform:translateY(-164%);} 75% {-webkit-transform:translateY(-164%);} 100% {transform:translateY(0%);}  }
@-moz-keyframes anBlockRecruitNext   { 0% {-moz-transform:translateY(0%);} 25% {-moz-transform:translateY(34%);} 50% {-moz-transform:translateY(-164%);} 75% {-moz-transform:translateY(-164%);} 100% {-moz-transform:translateY(0%);}  }
@-o-keyframes anBlockRecruitNext   { 0% {-o-transform:translateY(0%);} 25% {-o-transform:translateY(34%);} 50% {-o-transform:translateY(-164%);} 75% {-o-transform:translateY(-164%);} 100% {-o-transform:translateY(0%);}  }
.block-recruit
{	
	position:absolute;
	width:100%;
	top:15%;	
    animation: 2s linear 0s alternate none infinite anBlockRecruit;
    -webkit-animation: 2s linear 0s alternate none infinite anBlockRecruit;
    -moz-animation:2s linear 0s alternate none infinite anBlockRecruit;
    -o-animation: 2s linear 0s alternate none infinite anBlockRecruit;
	
}
.recruitToNext
{
	 animation: 1s linear 0s alternate none 1 anBlockRecruitNext;
    -webkit-animation: 1s linear 0s alternate none 1 anBlockRecruitNext;
    -moz-animation:1s linear 0s alternate none 1 anBlockRecruitNext;
    -o-animation: 1s linear 0s alternate none 1 anBlockRecruitNext;
}
.block-recruit img
{
	width: 62%;

}


/*page02 start*/

.page2{	
	background: rgba(254,184,41,1);
}
.shadowD{
	position: absolute;
	top: 35%;
	width:100%;
	left: -20%;
}
.shadowL{
	position: absolute;
	top: 35%;
	width:100%;
	left: -30%;
}
.shadowD img{
	width: 80%
}
.shadowL img{
	width: 85%;
}
.faces{
	position: absolute;
	top:28%;
	width: 35%;
}
.faces img{
	width: 100%;
}
.lfaces{
	left: 15%;
	-webkit-transform-origin: 100% 0;
}
.rfaces{
	left: 49%;
	-webkit-transform-origin: 0 0;
}

.humanWords
{
	top: 45%;
}
.goneTitle
{
	width: 42%;
	left: 8%;
}
@keyframes anFaceFlip     { 0% {transform:rotateY(-90%)} 25% {transform:rotateY(-75%)} 50% {transform:rotateY(-55%)} 75% {transform:rotateY(-25%)} 100% {transform:rotateY(0%)}  }
@-webkit-keyframes anFaceFlip   { 0% {transform:rotateY(-90%)} 25% {transform:rotateY(-75%)} 50% {transform:rotateY(-55%)} 75% {transform:rotateY(-25%)} 100% {transform:rotateY(0%)}  }
@-moz-keyframes anFaceFlip   { 0% {transform:rotateY(-90%)} 25% {transform:rotateY(-75%)} 50% {transform:rotateY(-55%)} 75% {transform:rotateY(-25%)} 100% {transform:rotateY(0%)}  }
@-o-keyframes anFaceFlip   { 0% {transform:rotateY(-90%)} 25% {transform:rotateY(-75%)} 50% {transform:rotateY(-55%)} 75% {transform:rotateY(-25%)} 100% {transform:rotateY(0%)}  }

.faceFlip{
	-webkit-transform-origin: 0 0;
	animation: 1s linear 0s 1 anFaceFlip;
    -webkit-animation: 1s linear 0s  1 anFaceFlip;
    -moz-animation:1s linear 0s  1 anFaceFlip;
    -o-animation: 1s linear 0s  1 anFaceFlip;
}
.humanWords img
{
	height: auto;
	width:100%;
}
.oldTitle
{
	width: 40%;
	left: 53%;
}

.humanTitle{
	position: absolute;
	width: 100%;
	top: 75%;
}

.humanTitle img
{
	width: 40%;
}

.humanQTitle img
{
	width: 30%;
}

.humanMyTitle img
{
	width: 25%;
}

.humanHSEEHead 
{
	position: absolute;
	width: 100%;
	top: 8%;
}
.humanHSEEHead img
{
	width: 85%;
}

.humanHSEETitle img
{
	width: 65%;
}

/*page03 start*/

.page3{	
	background: rgba(95,228,238,1);
	background-image: url(../images/page03/budongdi.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.intro-title
{
	margin-top:25%;
}
.intro-title img
{
	width: 62%;
	margin-top:2%;
}
.intro-title .intro-higher
{
	margin-top:3%;
}
/*page4 start*/

.page4{	
	background: rgba(95,228,238,1);
	background-image: url(../images/page03/budongdi.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.hess-character{
	margin-top:25%;
}

.charc-block
{
	width: 100%;
}
.charac-head img{
	width: 75%;
}
.charac-lineUp img{
	width: 75%;
	margin-top:3%;
}
.charac-secHead img{
	width: 53%;
	margin-top:3%;
}
.charac-position img{
	width: 25%;
	margin-top:7%;
}
.charac-lineShort img
{
	width:9%;
	margin-top:2%;
}
.charac-article img
{
	
	width:69%;
	margin-top:2%;
}

.hess-charCircle
{
	position: relative;
	margin-top:7%;
	width: 100%;
}

.hess-charCircle img
{
	width: 100%;
}
.charCircle-left
{
	position: absolute;
	width:27%;
	left:6%;
	padding-top: 5%;
}
.charCircle-center
{
	position: absolute;
	width:36%;
	left:31%;
}
.charCircle-right
{
	position: absolute;
	width:27%;
	left:63%;
	padding-top: 5%;
}

.first-class
{
	 color: #fff;
  	text-align: center;
  	 font-style: italic;
  font-size: 42px;
  margin-bottom: 0;
  line-height: 250px;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.swiper-human {
  width: 100%;
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide {
  font-style: italic;
  font-size: 42px;
  margin-bottom: 0;
  line-height: 250px;
}
.swiper-human .swiper-slide {
  line-height: 125px;
  font-size: 21px
}
.pagination {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
.pagination-nested{
  bottom: auto;
  top: 10px;
}
.pagination-nested .swiper-pagination-switch {
  display: block;
  margin-right: 0;
  margin-bottom: 5px;
}